
.app{
	margin:10px auto;
}
html{
	max-width: 90%;
	margin: 0px auto;
	font-size: 14px;
	text-align: center;
}
#title{
  line-height: 70%;
}
#tables{

}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #000;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #000;
   }
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #000;
   }
#problem{
  color:#d88;
}
#logo{
  font-size: 45px;
}